  
.navbar {
    
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar-brand{
    padding-left: 20px;padding-right: 20px;
}
@media (max-width: 990px){
.navbar{
  
    background-color: rgba(55, 64, 85, 0.9);
}
}
@media (min-width: 990px){
    .navbar{
        background-color: rgba(55, 64, 85, 0.9);
    }
    }
.logo{
    width: 60px;height: 55px;
}

@media (max-width: 990px){
    .logo{
        width: 40px;
        height: 40px;

    }
}
@media (max-width: 990px){
    .navbar-brand{
      padding-top: 0px;padding-bottom: 0px;
        padding-left: 10px;padding-right: 0px;
    }
}
@media (min-width: 990px){
    .navbar{
height: 64px;
    } 
}

@media (min-width: 990px){
    .icons{
        padding: 0px 120px;
    }
}
